.article {
	margin: 2rem;
	display: flex;
}

.content {
	max-width: min(calc(100dvw - 2.5rem), 52rem);
	flex: 1;
	margin: 0 auto;
}

.aside {
	position: sticky;
	top: calc(var(--header-height) + 2rem - var(--header-offset));
	max-height: calc(100dvh - var(--header-height) - 4rem + var(--header-offset));
	right: 0;
	transition: transform .3s ease-in-out;
}

@media screen and (max-width: 1300px) {
	.article {
		margin: 2rem 1.25rem;
	}

	.aside {
		position: fixed;
		top: 0;
		right: 0;
		height: 100dvh;
		transform: translateX(100%);
	}
}

.info {
	font-size: .9em;
	margin: 4rem 0 1rem;
	display: flex;
	justify-content: space-between;
}

.related {
	margin: 2rem 0;
	font-size: .9em;
	padding: 2rem 0 0;
	border-top: 1px solid
		color-mix(in hsl, var(--decoration-color) 15%, transparent);
	display: flex;
	justify-content: space-between;
}

.prev,
.next {
	color: var(--text-color);
	text-decoration: none;
	display: flex;
	flex-direction: column;
	font-size: 2em;
	outline: none;

	& > span {
		font-family: var(--font-headings);
		color: var(--heading-color);
		font-size: .5em;
	}

	&:hover,
	&:focus {
		color: var(--heading-color);
	}
}

.next {
	align-items: flex-end;
}
