.header {
	position: sticky;
	top: 0;
	width: 100dvw;
	height: var(--header-height);
	z-index: 50;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
	background: var(--background-color);
	border-bottom: 2px solid #e4e4e7;
	grid-column-start: span 2;
	transform: translateY(calc(-1 * var(--header-offset)));
	border-bottom: 1px solid
		color-mix(in hsl, var(--decoration-color) 15%, transparent);
}

.logo-link {
	text-decoration: none;
	color: var(--heading-color);
	font-family: var(--font-headings);
	font-size: 1.25em;
}
