.main {
	position: sticky;
	top: 0;
	z-index: 50;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background: white;
	border-bottom: 2px solid #e4e4e7;
	transition: background;
	transition-duration: 500ms;
	grid-column-start: span 2;
}

.logo_container {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex-grow: 1;
	flex-basis: 0;
}

.logo_link {
	color: #27272a;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 0;
}
