.layout {
	min-height: 100dvh;
	width: 100dvw;
	overflow-x: clip;
	display: grid;
	grid-template-columns: minmax(12rem, auto) 1fr;
}

.skipnav {
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	color: white;
	border-bottom-right-radius: .375rem;
	padding: .5rem .75rem;
	transform: translateY(-100%);
	transition: transform .3s ease-in-out;
	z-index: 2147483647;

	&:focus-within {
		transform: translateY(0);
	}
}

.sidenav {
	min-width: 14rem;
	height: calc(100dvh - var(--header-height) + var(--header-offset));
	position: sticky;
	top: calc(var(--header-height) - var(--header-offset));
	left: 0;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	border-right: 1px solid var(--decoration-color);
	transition: transform .3s ease-in-out;
}

@media screen and (max-width: 1000px) {
	.layout {
		grid-template-columns: 1fr;
	}

	.sidenav {
		position: fixed;
		left: 0;
		top: 0;
		height: 100dvh;
		transform: translateX(-100%);
		z-index: 51;

		&[data-expanded] {
			min-width: 80%;
			background: var(--background-color);
			transform: translateX(0px);
		}
	}
}

.sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	z-index: 50;
}

.sidenav-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.sidenav-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo-link {
	text-decoration: none;
	color: var(--heading-color);
	font-family: var(--font-headings);
	font-size: 1.25em;
}

.sidenav-links {
	width: 100%;
	color: var(--text-color);

	& ul {
		list-style-type: none;
		padding: 0;
	}

  &>ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

	& li {
		list-style-type: none;

		& ul {
			padding-top: 1rem;
		}
	}

	h2 {
		font-size: 0.85rem;
		font-weight: medium;
	}

	.sidenav-link {
		display: flex;
		width: 100%;
		color: var(--text-color);
		text-decoration: none;
		outline: none;
		padding: 0.5rem;
		border-radius: var(--border-radius);
		font-size: 0.85rem;

		&:hover,
		&:focus {
			background: color-mix(in hsl, var(--text-color) 10%, transparent);
		}
	}
}


@media screen and (max-width: 1000px) {
  .sidenav-links {
	& li > ul {
			padding-top: 0.5rem;
	}
  }
}

.sidenav-close-btn {
	appearance: none;
	outline: none;
	border: none;
	background: transparent;
	border-radius: var(--border-radius);
	color: var(--text-color);
	padding: 0.5rem;
	cursor: var(--button-cursor);

	&:hover,
	&:focus {
		background: color-mix(in hsl, var(--text-color) 10%, transparent);
	}

	& svg {
		width: 1.25rem;
		height: 1.25rem;
	}
}
