.layout {
	min-height: 100dvh;
	width: 100dvw;
	overflow-x: clip;
	display: grid;
	grid-template-columns: minmax(12rem, auto) 1fr;
}

.skipnav {
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	color: white;
	border-bottom-right-radius: .375rem;
	padding: .5rem .75rem;
	transform: translateY(-100%);
	transition: transform .3s ease-in-out;
	z-index: 2147483647;

	&:focus-within {
		transform: translateY(0);
	}
}

.sidenav {
	height: calc(100dvh - var(--header-height) + var(--header-offset));
	position: sticky;
	top: calc(var(--header-height) - var(--header-offset));
	left: 0;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	border-right: 1px solid var(--decoration-color);
	transition: transform .3s ease-in-out;
}

.sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	z-index: 50;
}

@media screen and (max-width: 1000px) {
	.layout {
		grid-template-columns: 1fr;
	}

	.sidenav {
		position: fixed;
		left: 0;
		top: 0;
		height: 100dvh;
		transform: translateX(-100%);
		z-index: 51;

		&[data-expanded="true"] {
			min-width: 80%;
			background: var(--background-color);
			transform: translateX(0px);
		}
	}
}
