.link {
	color: var(--text-color);
	text-decoration: none;
	box-shadow: var(--decoration-color) 0 -2px 0 0 inset;
}

.link:hover,
.link:active {
	box-shadow: var(--decoration-color) 0 -6px 0 0 inset;
}
