@import "./reset.css";
@import "./variables.css";

html {
	background: var(--sb-background-color);
	font-optical-sizing: auto;
	font-family: var(--sb-font-text);
}

code {
	font-family: var(--sb-font-mono) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sb-font-headings);
}

article *[id] {
	scroll-margin-top: 5rem;
}

@media screen and (max-width: 1100px) {
	article *[id] {
		scroll-margin-top: 7.5rem;
	}
}

.expressive-code.expressive-code figure {
	--code-background: var(--sb-code-background-color);
	--ec-frm-edActTabBg: var(--sb-code-background-color);
	--ec-frm-edTabBarBrdCol: var(--sb-code-background-color);
	--ec-frm-edTabBarBg: var(--sb-background-color);
	--ec-frm-edActTabIndTopCol: var(--sb-active-link-color);
	--ec-frm-edActTabIndBtmCol: var(--sb-background-color);
	--ec-frm-edTabBarBrdBtmCol: var(--sb-background-color);
	--ec-frm-edActTabFg: var(--sb-text-color);
	--header-border-radius: var(--sb-border-radius);
	--ec-brdRad: var(--sb-border-radius);
	box-shadow: none;
	border-radius: var(--sb-border-radius);
	cursor: text;

	& pre {
		border: none;
	}

	& .copy {
		margin-top: 0.2rem;
	}
}
