.article {
	margin: 2rem;
	display: flex;
}

.content {
	max-width: min(calc(100dvw - 2.5rem), 52rem);
	flex: 1;
	margin: 0 auto;
}

.aside {
	position: sticky;
	top: calc(var(--sb-header-height) + 2rem);
	max-height: calc(100dvh - var(--sb-header-height) - 4rem);
	width: 12rem;
	right: 0;
	transition: transform 0.3s ease-in-out;
	overflow-y: auto;
	margin-left: 2rem;
}

@media screen and (max-width: 1100px) {
	.article {
		margin: 2rem 1.25rem;
	}
}

.info {
	font-size: 0.9em;
	margin: 4rem 0 1rem;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.related {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
	margin: 2rem 0;
	font-size: 0.9em;
	padding: 2rem 0 0;
	border-top: 1px solid
		color-mix(in hsl, var(--sb-decoration-color) 15%, transparent);
}

.prev,
.next {
	color: var(--sb-text-color);
	text-decoration: none;
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
	outline: none;

	& > span {
		font-family: var(--sb-font-headings);
		color: var(--sb-heading-color);
		font-size: 0.625em;
	}

	&:hover,
	&:focus {
		color: var(--sb-heading-color);
	}
}

.next {
	align-items: flex-end;
	text-align: right;
}
