.button {
	border: 0;
	background: none;
	padding: 0;
	color: var(--sb-text-color);
	text-decoration: none;
	box-shadow: var(--sb-link-underline-color) 0 -2px 0 0 inset;
	outline: none;
	cursor: pointer;
	font: inherit;
	display: inline-flex;
	align-items: center;
	gap: 0.35rem;

	&:hover,
	&:focus-visible {
		box-shadow: var(--sb-link-underline-color) 0 -6px 0 0 inset;
	}

	&:disabled {
		cursor: default;
		opacity: 0.7;
	}
}

.icon {
	width: 0.95rem;
	height: 0.95rem;
	flex: none;
}
