.header {
	position: sticky;
	top: 0;
	width: 100dvw;
	height: var(--header-height);
	z-index: 50;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	padding: 0 1.5rem;
	background: var(--background-color);
	border-bottom: 2px solid #e4e4e7;
	grid-column-start: span 2;
	border-bottom: 1px solid
		color-mix(in hsl, var(--decoration-color) 15%, transparent);
	font-size: 14px;

	& > div {
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
}

@media screen and (max-width: 1100px) {
	.header {
		padding: 0 1rem;
	}

	html {
		--header-height: 6.5rem !important;
	}
}

@media screen and (min-width: 1100px) {
	.mobile-bar {
		display: none !important;
	}
}

@media screen and (max-width: 500px) {
	.selectors {
		display: none !important;
	}
}

.logo-link {
	text-decoration: none;
	color: var(--heading-color);
	font-family: var(--font-headings);
	font-size: 1.25em;
}

.mobile-menu {
	appearance: none;
	outline: none;
	border: none;
	background: transparent;
	border-radius: var(--border-radius);
	color: var(--text-color);
	font-size: 0.8rem;
	padding: 0.5rem;
	cursor: var(--button-cursor);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0 -0.5rem;
	text-decoration: none;
	transition-property: background-color, color;
	transition-timing-function: var(--transition-timing);
	transition-duration: 0.15s;

	&:hover,
	&:focus-visible {
		color: var(--heading-color);
		background: color-mix(in hsl, var(--link-underline-color) 20%, transparent);
	}

	&.active {
		color: var(--active-link-color);
	}

	& svg {
		width: 1rem;
		height: 1rem;
	}

	& > svg {
		transition-property: transform;
		transition-timing-function: var(--transition-timing);
		transition-duration: 0.15s;
	}

	&[data-expanded] > svg {
		transform: rotateX(180deg);
	}
}

.selectors {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.navLink {
	text-decoration: none;
	padding: 0.5rem;
	border: none;
	outline: none;
	color: var(--text-color);
	border-radius: var(--border-radius);
	cursor: var(--button-cursor);
	font-weight: 500;

	&:hover {
		background: color-mix(in hsl, var(--text-color) 10%, transparent);
	}

	&[data-matched] {
		color: color-mix(in hsl, var(--active-link-color) 70%, white);

		&:hover {
			color: var(--text-color);
			background-color: color-mix(
				in hsl,
				var(--active-link-color) 50%,
				transparent
			);
		}
	}
}

.mobile-bar {
	flex: none !important;
	border-top: 1px solid
		color-mix(in hsl, var(--decoration-color) 15%, transparent);
	margin: 0 -4rem;
	padding: 0.25rem 4rem;
}

.toc-container {
	height: 0;
	width: 100dvw;
	left: -1rem;
	top: 0;
	position: relative;
	overflow: visible;
	flex: 0 !important;
}

.toc-popup {
	position: sticky;
	top: calc(var(--header-height) + var(--header-offset));
	left: 0;
	z-index: 51;
	width: 100dvw;
	max-height: 100dvh;
	background: var(--background-color);
	overflow-y: auto;
	animation: contentHide 50ms ease-out forwards;
	transform-origin: top;
	padding: 1rem;
	border: 1px solid color-mix(in hsl, var(--decoration-color) 15%, transparent);
	border-left: none;
	border-right: none;

	&[data-expanded] {
		animation: contentShow 50ms ease-out forwards;
	}

	& * {
		opacity: 1 !important;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translateY(-1rem);
	}
	to {
		opacity: 1;
	}
}
@keyframes contentHide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateY(-1rem);
	}
}
