.link {
	color: var(--sb-text-color);
	text-decoration: none;
	box-shadow: var(--sb-link-underline-color) 0 -2px 0 0 inset;
	outline: none;

	&:hover,
	&:focus {
		box-shadow: var(--sb-link-underline-color) 0 -6px 0 0 inset;
	}
}
