.item {
	padding: 0.5rem;
	list-style-type: none;
	border-radius: var(--border-radius);

	&:hover,
	&:focus {
		outline: none;
		background: color-mix(in hsl, var(--text-color) 20%, transparent);
	}
}

.trigger {
	appearance: none;
	padding: 0.5rem;
	background: color-mix(in hsl, var(--text-color) 10%, transparent);
	border: none;
	outline: none;
	color: var(--text-color);
	border-radius: var(--border-radius);
	cursor: var(--button-cursor);
	transition-property: background-color, opacity, color;
	transition-timing-function: var(--transition-timing);
	transition-duration: .15s;

	&:hover,
	&:focus,
	&[data-expanded] {
		background: color-mix(in hsl, var(--text-color) 20%, transparent);
	}
}

.content {
	z-index: 51;
	color: var(--text-color);
	background: color-mix(in hsl, var(--text-color) 10%, var(--background-color));
	border-radius: var(--border-radius);
}

.list {
	padding: 0.25rem;
	display: flex;
	flex-direction: column;
}
